<table class="footer" width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial, Helvetica, sans-serif; color: #808080; text-align: center; margin-top: 25px">
    <tr>
        <td class="logo">
            <a href="http://www.ishafoundation.org/ta/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-{{data['newsletter_title']}}" title="Visit Isha Foundation">
                <img src="http://www.ishafoundation.org/mailmarketer/admin/temp/newsletters/2169/isha-logo.png" alt="Isha Logo" border="0" height="88" width="100" />
            </a>
        </td>
    </tr>
    <tr>
        <td class="copyrights" style="font-size: 13px">
            Copyright &copy; 2015 Isha Foundation
        </td>
    </tr>
    <tr>
        <td class="quick-links" style="font-size: 13px">
            <a style="color: #808080;" href="http://www.ishafoundation.org/ta/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-{{data['newsletter_title']}}">
                www.tamil.ishafoundation.org
            </a>
            &nbsp;|&nbsp;
            <a style="color: #808080;" href="mailto:tamilblog@ishafoundation.org">Contact us</a>
            &nbsp;|&nbsp;
            <a style="color: #808080;" href="http://www.ishafoundation.org/Copyright.isa">Privacy</a>
            &nbsp;|&nbsp;
            <a style="color: #808080;" href="%Link:Unsubscribe%">Unsubscribe</a>
        </td>
    </tr>
    <tr>
        <td class="contact-address">
            15, Govindasamy Naidu Layout, Singanallur, Coimbatore - 641 005, INDIA.
        </td>
    </tr>
</table>