<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ஆனந்த அலை blog - வாரத்தின் டாப் பதிவுகள்</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body style="margin: 0; padding: 0;">
    <table class="body" align="center" width="100%" bgcolor="#e5e2d6" border="0" cellpadding="0" cellspacing="0"><tr><td>

        <table class="contentArea" align="center" width="650px" border="0" cellpadding="0" cellspacing="0" style="color: #444444; font-family:  Latha, Inaimathi, Georgia; font-size: 11px; margin-bottom: 20px">

            <tr class="alternateView">
                <td style="font-family: Arial, Helvetica, sans-serif; text-align: right; padding-top: 18px; padding-bottom: 21px;" valign="top"><a href="%%webversion%%" style="color: #909090; text-decoration: none;" target="_blank">Can't view Email?</a></td>
            </tr>

            <tr class="header">
                <td bgcolor="white" valign="top">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 30px 20px 30px 25px; height: 71px;">
                        <tr>
                            <td><a href="http://tamilblog.ishafoundation.org/category/video/video-video/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank"><img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/2/isha-tamil-logo.png" alt="ஈஷா தமிழ் Logo" style="display: block;" border="0" height="71" width="100" /></a></td>
                            <td style="padding-right: 20px; font-size: 24px; color: #202020; line-height: 1.4em; font-family: Georgia, Serif;" align="right" width="385"><a style="color:black; text-decoration:none;" href="http://tamilblog.ishafoundation.org/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter">ஆனந்த அலை <span style="font-size:27px;">blog</span></a> <br /> <span style="font-size: 16px; color: #7c7c7c; line-height: 23px;">வாரத்தின் டாப் பதிவுகள்</span></td>
                            <td style="background-color: #c46f17; font-size: 18px; color: white; line-height: 1.2em; font-family: Georgia, Serif; padding-top: 10px; padding-bottom: 10px;" align="center" width="100"><span class="tamildate">{{tamil_date}}</span><br /><span class="year" style="font-size: 20px;">{{year}}</span></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="block1">
                <td class="blog1" bgcolor="white" valign="top">
                    <div class="graphic">
                        <a href="{{blog_data['blogs'][0]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" style="text-decoration: none" target="_blank">{% if blog_data['blogs'][0]['time'] %}<div style="background-color: #222;text-decoration: none;color: #DDD;padding: 6px;">{{blog_data['blogs'][0]['title']}}</div>{% endif %}<img src="images/{{blog_data['blogs'][0]['image']}}" alt="{{blog_data['blogs'][0]['title']}}" style="display: block;{% if blog_data['blogs'][0]['time'] %} position:relative; text-align:center; float: left;{% endif %}" title="{{blog_data['blogs'][0]['title']}}" border="0" height="{% if blog_data['blogs'][0]['time'] %}318{% else %}366{% endif %}" width="100%" />{% if blog_data['blogs'][0]['time'] %}<div style="background-color: #222;text-decoration: none;color: #BBB;padding: 6px;text-align: right;font-weight: bold;"><span style="float: left;">YouTube</span><span>{{blog_data['blogs'][0]['time']}}</span></div>{% endif %}</a>
                    </div>
                    <div class="title" style="font-size: 16px;font-weight:bold; text-align:center; padding-top: 20px; padding-right: 10px">
                        <a href="{{blog_data['blogs'][0]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="color: #c46f17; text-decoration: none;">{{blog_data['blogs'][0]['title']}}</a>
                    </div>
                    <div class="blurb" style="padding: 15px 20px 0 20px; line-height: 1.6em;">
                        {{blog_data['blogs'][0]['blurb']}}
                    </div>
                    <div class="readMore" style="padding: 13px 20px 50px; 15px">
                        <a href="{{blog_data['blogs'][0]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="float: left;"><img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/2/melum.gif" alt="மேலும்" border="0" height="30" width="76" /></a>
                    </div>
                </td>
            </tr>

            <tr><td><div class="median" style="height: 4px; background-color: #CCC7B0; margin-left: 4px; margin-bottom: 20px;">&nbsp;</div></td></tr>

            <tr class="block2">
                <td bgcolor="white" valign="top">
                    <table class="quote1" style="width: 100%; padding-top: 20px;" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="right" valign="top" width="40"><img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/1/quote.png" alt="Quote" border="0" height="38" width="40" /></td>
                            <td style="padding-left: 15px; padding-right: 20px; font-style: bold; font-size: 14px; color: black; line-height: 1.6em; font-family: Latha, Inaimathi, Georgia;" width="610"><a style="color: black; text-decoration: none;" href="http://sadhguru.org/quotes/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank"><span class="quote">{{quotes['quote1']}}</span></a></td>
                        </tr>
                        <tr>
                            <td align="right" style="padding-bottom: 20px; padding-right: 20px; font-size: 16px; color: #424242;" colspan="2">
                                <b>&ndash; <a style="color: #424242; text-decoration: none;" href="http://sadhguru.org/quotes/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank">சத்குரு</a></b>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr><td><div class="median" style="height: 4px; background-color: #CCC7B0; margin-left: 4px; margin-bottom: 20px;">&nbsp;</div></td></tr>

            <tr class="block3">
                <td bgcolor="white" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="blog2" valign="top" width="50%">
                                <div class="graphic">
                                    <a href="{{blog_data['blogs'][1]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" style="text-decoration: none" target="_blank">{% if blog_data['blogs'][1]['time'] %}<div style="background-color: #222;text-decoration: none;color: #DDD;padding: 6px;">{{blog_data['blogs'][1]['title']}}</div>{% endif %}<img src="images/{{blog_data['blogs'][1]['image']}}" alt="{{blog_data['blogs'][1]['title']}}" style="display: block;{% if blog_data['blogs'][1]['time'] %} position:relative; text-align:center; float: left;{% endif %}" title="{{blog_data['blogs'][1]['title']}}" border="0" height="{% if blog_data['blogs'][1]['time'] %}162{% else %}222{% endif %}" width="100%" />{% if blog_data['blogs'][1]['time'] %}<div style="background-color: #222;text-decoration: none;color: #BBB;padding: 6px;text-align: right;font-weight: bold;"><span style="float: left;">YouTube</span><span>{{blog_data['blogs'][1]['time']}}</span></div>{% endif %}</a>
                                </div>
                            </td>
                            <td class="blog3" valign="top">
                                <div class="graphic">
                                    <a href="{{blog_data['blogs'][2]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" style="text-decoration: none" target="_blank">{% if blog_data['blogs'][2]['time'] %}<div style="background-color: #222;text-decoration: none;color: #DDD;padding: 6px;">{{blog_data['blogs'][2]['title']}}</div>{% endif %}<img src="images/{{blog_data['blogs'][2]['image']}}" alt="{{blog_data['blogs'][2]['title']}}" style="display: block;{% if blog_data['blogs'][2]['time'] %} position:relative; text-align:center; float: left;{% endif %}" title="{{blog_data['blogs'][2]['title']}}" border="0" height="{% if blog_data['blogs'][2]['time'] %}162{% else %}222{% endif %}" width="100%" />{% if blog_data['blogs'][2]['time'] %}<div style="background-color: #222;text-decoration: none;color: #BBB;padding: 6px;text-align: right;font-weight: bold;"><span style="float: left;">YouTube</span><span>{{blog_data['blogs'][2]['time']}}</span></div>{% endif %}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="blog2" valign="top">
                                <div class="title" style="font-size: 16px;font-weight:bold; padding-top: 20px; padding-right: 10px; padding-left: 20px">
                                    <a href="{{blog_data['blogs'][1]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="color: #c46f17; text-decoration: none;">{{blog_data['blogs'][1]['title']}}</a>
                                </div>
                                <div class="blurb" style="padding: 15px 20px 0 20px; line-height: 1.6em;">
                                    {{blog_data['blogs'][1]['blurb']}}
                                </div>
                                <div class="readMore" style="padding: 13px 20px 50px; 15px">
                                    <a href="{{blog_data['blogs'][1]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="float: left;"><img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/2/melum.gif" alt="மேலும்" border="0" height="30" width="76" /></a>
                                </div>
                            </td>
                            <td class="blog3" valign="top">
                                <div class="title" style="font-size: 16px;font-weight:bold; padding-top: 20px; padding-right: 10px; padding-left: 20px">
                                    <a href="{{blog_data['blogs'][2]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="color: #c46f17; text-decoration: none;">{{blog_data['blogs'][2]['title']}}</a>
                                </div>
                                <div class="blurb" style="padding: 15px 20px 0 20px; line-height: 1.6em;">
                                    {{blog_data['blogs'][2]['blurb']}}
                                </div>
                                <div class="readMore" style="padding: 13px 20px 50px; 15px">
                                    <a href="{{blog_data['blogs'][2]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="float: left;"><img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/2/melum.gif" alt="மேலும்" border="0" height="30" width="76" /></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr><td><div class="median" style="height: 4px; background-color: #CCC7B0; margin-left: 4px; margin-bottom: 20px;">&nbsp;</div></td></tr>

            <tr class="block4">
                <td class="banner1" bgcolor="white" valign="top">
                    <a class="link" href="{{banners['banner1']['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter"><img src="{{banners['banner1']['image']}}" alt="{{banners['banner1']['title']}}" style="display: block;" title="{{banners['banner1']['title']}}" border="0" width="100%" height="120" /></a>
                </td>
            </tr>

            <tr><td><div class="median" style="height: 4px; background-color: #CCC7B0; margin-left: 4px; margin-bottom: 20px;">&nbsp;</div></td></tr>

            <tr class="block5">
                <td bgcolor="white" valign="top">
                    <table class="blog4" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="top" width="50%">
                                <div class="graphic">
                                    <a href="{{blog_data['blogs'][3]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" style="text-decoration: none" target="_blank">{% if blog_data['blogs'][3]['time'] %}<div style="background-color: #222;text-decoration: none;color: #DDD;padding: 6px;">{{blog_data['blogs'][3]['title']}}</div>{% endif %}<img src="images/{{blog_data['blogs'][3]['image']}}" alt="{{blog_data['blogs'][3]['title']}}" style="display: block;{% if blog_data['blogs'][3]['time'] %} position:relative; text-align:center; float: left;{% endif %}" title="{{blog_data['blogs'][3]['title']}}" border="0" height="{% if blog_data['blogs'][3]['time'] %}222{% else %}270{% endif %}" width="100%" />{% if blog_data['blogs'][3]['time'] %}<div style="background-color: #222;text-decoration: none;color: #BBB;padding: 6px;text-align: right;font-weight: bold;"><span style="float: left;">YouTube</span><span>{{blog_data['blogs'][3]['time']}}</span></div>{% endif %}</a>
                                </div>
                            </td>
                            <td valign="top">
                                <div class="title" style="font-size: 16px;font-weight:bold; padding-top: 20px; padding-right: 10px; padding-left: 20px">
                                    <a href="{{blog_data['blogs'][3]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="color: #c46f17; text-decoration: none;">{{blog_data['blogs'][3]['title']}}</a>
                                </div>
                                <div class="blurb" style="padding: 15px 20px 0 20px; line-height: 1.6em;">
                                    {{blog_data['blogs'][3]['blurb']}}
                                </div>
                                <div class="readMore" style="padding: 13px 20px 50px; 15px">
                                    <a href="{{blog_data['blogs'][3]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="float: left;"><img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/2/melum.gif" alt="மேலும்" border="0" height="30" width="76" /></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr><td><div class="median" style="height: 4px; background-color: #CCC7B0; margin-left: 4px; margin-bottom: 20px;">&nbsp;</div></td></tr>

            <tr class="block6">
                <td bgcolor="white" valign="top">
                    <table class="blog5" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="top" width="50%">
                                <div class="title" style="font-size: 16px;font-weight:bold; padding-top: 20px; padding-right: 10px; padding-left: 20px">
                                    <a href="{{blog_data['blogs'][4]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="color: #c46f17; text-decoration: none;">{{blog_data['blogs'][4]['title']}}</a>
                                </div>
                                <div class="blurb" style="padding: 15px 20px 0 20px; line-height: 1.6em;">
                                    {{blog_data['blogs'][4]['blurb']}}
                                </div>
                                <div class="readMore" style="padding: 13px 20px 50px; 15px">
                                    <a href="{{blog_data['blogs'][4]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank" style="float: left;"><img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/2/melum.gif" alt="மேலும்" border="0" height="30" width="76" /></a>
                                </div>
                            </td>
                            <td valign="top">
                                <div class="graphic">
                                    <a href="{{blog_data['blogs'][4]['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" style="text-decoration: none" target="_blank">{% if blog_data['blogs'][4]['time'] %}<div style="background-color: #222;text-decoration: none;color: #DDD;padding: 6px;">{{blog_data['blogs'][4]['title']}}</div>{% endif %}<img src="images/{{blog_data['blogs'][4]['image']}}" alt="{{blog_data['blogs'][4]['title']}}" style="display: block;{% if blog_data['blogs'][4]['time'] %} position:relative; text-align:center; float: left;{% endif %}" title="{{blog_data['blogs'][4]['title']}}" border="0" height="{% if blog_data['blogs'][4]['time'] %}222{% else %}270{% endif %}" width="100%" />{% if blog_data['blogs'][4]['time'] %}<div style="background-color: #222;text-decoration: none;color: #BBB;padding: 6px;text-align: right;font-weight: bold;"><span style="float: left;">YouTube</span><span>{{blog_data['blogs'][4]['time']}}</span></div>{% endif %}</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr><td><div class="median" style="height: 4px; background-color: #CCC7B0; margin-left: 4px; margin-bottom: 20px;">&nbsp;</div></td></tr>

            <tr class="block7">
                <td class="banner2" bgcolor="white" valign="top">
                    <a class="link" href="{{banners['banner2']['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter"><img src="{{banners['banner2']['image']}}" alt="{{banners['banner2']['title']}}" title="{{banners['banner2']['title']}}" style="display: block;" border="0" width="100%" height="130" /></a>
                </td>
            </tr>

            {% if banners['banner3'] %}
            <tr><td><div class="median" style="height: 4px; background-color: #CCC7B0; margin-left: 4px; margin-bottom: 20px;">&nbsp;</div></td></tr>

            <tr class="block8">
                <td class="banner3" bgcolor="white" valign="top">
                    <a class="link" href="{{banners['banner3']['url']}}?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter"><img src="{{banners['banner3']['image']}}" alt="{{banners['banner3']['title']}}" title="{{banners['banner3']['title']}}" style="display: block;" border="0" width="100%" height="130" /></a>
                </td>
            </tr>
            {% endif %}

            <tr><td><div class="median" style="height: 4px; background-color: #CCC7B0; margin-left: 4px; margin-bottom: 20px;">&nbsp;</div></td></tr>

            <tr class="block9">
                <td class="sociallinks" valign="top" style="padding-top: 20px">
                    <img src="http://www.ishafoundation.org/mailmarketer/admin/temp/newsletters/2142/anandaalai-650x120-ad.jpg" height="97" width="100%" border="0" usemap="#social" alt="ஈஷாவின் தமிழ் இணையதளம்" title="ஈஷாவின் தமிழ் இணையதளம்" style="background-color: white" />
                    <map name="social">
                    <area shape="rect" coords="12,7,91,45" title="ஈஷாவின் தமிழ் இணையதளம்" alt="ஈஷாவின் தமிழ் இணையதளம்" href="http://tamilblog.ishafoundation.org/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" target="_blank">
                    <area shape="rect" coords="10,58,212,88" title="ஈஷாவின் தமிழ் Facebook" alt="ஈஷாவின் தமிழ் Facebook" href="https://www.facebook.com/IshaFoundationTamil/" target="_blank">
                    <area shape="rect" coords="221,58,404,88" title="ஈஷாவின் தமிழ் Twitter" alt="ஈஷாவின் தமிழ் Twitter" href="https://twitter.com/IshaTamil/" target="_blank">
                    <area shape="rect" coords="416,58,611,88" title="ஈஷாவின் தமிழ் YouTube" alt="ஈஷாவின் தமிழ் YouTube" href="https://www.youtube.com/anandaalai/" target="_blank">
                    </map>
                </td>
            </tr>

            <tr><td><div class="median" style="height: 4px; background-color: #CCC7B0; margin-left: 4px; margin-bottom: 20px;">&nbsp;</div></td></tr>

            <tr class="footer">
                <td style="font-family: Arial, Helvetica, sans-serif; color: #7c7c7c;" align="center">
                    <br /><span><br /><a href="http://www.ishafoundation.org/ta/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter" title="Visit Isha Foundation"><img src="http://www.ishafoundation.org/mailmarketer/admin/temp/newsletters/2169/isha-logo.png" alt="Isha Logo" border="0" height="88" width="100" /></a> <br /><font face="arial,helvetica,sans-serif" size="2"><font color="#808080">Copyright &copy; 2015 Isha Foundation</font><br /><a style="color: #808080;" href="http://www.ishafoundation.org/ta/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-Tamil_Weekly_Newsletter">www.tamil.<span>ishafoundation</span>.org</a></font><font size="1"> </font><font face="arial,helvetica,sans-serif" size="2">| <a style="color: #808080;" href="mailto:tamilblog@ishafoundation.org">Contact us</a> | <a style="color: #808080;" href="http://www.ishafoundation.org/Copyright.isa">Privacy</a> | <a style="color: #808080;" href="http://www.ishafoundation.org/mailmarketer/unsubscribe.php?&amp;M=985451&amp;N=3668&amp;L=3&amp;C=53eebd97ece31db316d5659873cf6c6d">Unsubscribe</a></font></span><br /><span>15, Govindasamy Naidu Layout, Singanallur,Coimbatore - 641 005, INDIA.</span>&nbsp;
                </td>
            </tr>

        </table>

    </td></tr></table>
    </body>
</html>