<!-- <<<<<<< BLURB >>>>>>> -->
<div class="blurb" style="color: #222; font-size: 12px; padding: 0px; line-height: 1.8em; word-break: keep-all; letter-spacing: 0em; word-spacing: 0.25em">
    {% if slice_count %}{{data['blurb']|slice(0, slice_count)}}{% else %}{{data['blurb']}}{% endif %} <a href="{{data['url']}}{% if ('?' in data['url']) == false  %}?{% include 'utm_param.twig' %}{% endif %}" target="_blank" style="text-decoration: none; color: #7d3705; font-size: 13px" title="{{readmore}}...   {{data['title']}}">
        {{readmore}}
    </a>
</div>
<!-- >>>>>>> BLURB <<<<<<< -->
