<!-- <<<<<<< READMORE >>>>>>> -->
{% if language == 'tamil' %}
    {% set readmore = "மேலும்" %}
{% else %}
    {% set readmore = "More" %}
{% endif %}
<div class="readMore" style="padding: 13px 20px 50px 20px">
    <a href="{{data['url']}}{% include 'utm_param.twig' %}" target="_blank" style="float: left; text-decoration: none; color: #FFFFFF;" title="{{readmore}}...   {{data['title']}}">
        <img src="{{config['blog_readmore']}}" alt="{{readmore}}" border="0" height="30" width="76" />
    </a>
</div>
<!-- >>>>>>> READMORE <<<<<<< -->
