{% autoescape false %}
{% set language = details['language'] %}

{% if language == 'tamil' %}
    {% set readmore = "மேலும்" %}
{% else %}
    {% set readmore = "More" %}
{% endif %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{details['title']}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body style="margin: 0; padding: 0; border: 0; background-color: #e5e2d6;">
        <div class="body" align="center" style="margin: 0; padding: 1px; border: 0; background-color: #e5e2d6; width: 100%; padding-top: 18px; padding-bottom: 20px;">
            <table class="contentArea" align="center" border="0" cellpadding="0" cellspacing="0" style="cursor: default; width: 650px;">
                <tr class="alternateView">
                    <td style="text-align: right; padding-bottom: 21px; color: #7c7c7c; font-family:  Arial, Helvetica, sans-serif, Latha, Inaimathi; font-size: 11px; cursor: default; padding-right: 25px;" valign="top">
                        <a href="{{details['alternate_link']}}" style="color: inherit; text-decoration: none;" target="_blank">Can't view Email?</a>
                    </td>
                </tr>
                {% for blockIndex, block in blocks %}
                <!-- <<<<<<< ===================== BLOCK {{blockIndex + 1}} BEGINS ===================== >>>>>>> -->
                <tr class="block_{{blockIndex + 1}}">
                    <td>
                        {% if block["type"] != 'none' %}
                        {% set data = block["data"] %}
                        {% include block["type"]~'.twig' %}
                        {% endif %}
                    </td>
                </tr>
                <!-- >>>>>>> ===================== BLOCK {{blockIndex + 1}} ENDS ===================== <<<<<<< -->
                {% if block["type"] != 'header' and block["type"] != 'none' %}
                <tr>
                    <td style="color: #7c7c7c; font-family:  Arial, Helvetica, sans-serif, Latha, Inaimathi; font-size: 68.8%; cursor: default;">
                        <div class="median" style="margin-bottom: 30px;"></div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                <!-- <<<<<<< ===================== FOOTER BLOCK BEGINS ===================== >>>>>>> -->
                <tr>
                    <td style="color: #7c7c7c; font-family:  Arial, Helvetica, sans-serif, Latha, Inaimathi; font-size: 68.8%; cursor: default;">
                        {% include 'footer.twig' %}
                    </td>
                </tr>
                <!-- >>>>>>> ===================== FOOTER BLOCK ENDS ===================== <<<<<<< -->
            </table>
        </div>
    </body>
</html>
{% endautoescape %}